<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="formularioDinamico" (ngSubmit)="guardar()">
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   name="nombre"
                   formControlName="nombre"
                   >

                <span class="form-text text-danger" *ngIf="campoNoValido('nombre')" >
                   Este campo es obligatorio
               </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9" >

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       name="nuevoJuego"
                       formControlName="agregar"
                        [formControl]="nuevoFavorito"
                        (keypress)="impr($event)"
                       >

                      

                <button class="btn btn-outline-primary"
                        type="button"
                        (keyup.enter)="agregarFavorito()"
                        (click)="agregarFavorito()">
                    Agregar
                </button>

            </div>
            
            <span class="form-text text-danger" *ngIf="campoNoValido('agregar')" >
                Este campo No puede estar Vacío
            </span>

        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArr.controls; let i = index">
                <input class="form-control"
                       [formControlName]="i" 
                       required>

                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrar(i)"
                        >
                   Eliminar
               </button>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    
                    >
                Guardar
            </button>
        </div>
    </div>


</form>



<!-- 
<span>Persona</span>
<pre>{{ persona | json }}</pre> -->